# Created by .ignore support plugin (hsz.mobi)
# User-specific stuff:
.idea

# Mongo Explorer plugin:
## File-based project format:
## Plugin-specific files:

*.iml
target

# Crashlytics plugin (for Android Studio and IntelliJ)
/.gitignore
/allure-results/
